:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  --large-padding: 8px 2px;
  --margin: 12px;

  /* Font size */
  --font-max: 18px;
  --font-large: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margine: 0;
  /* 패딩,마진 포함된 사이즈*/
  box-sizing: border-box;
}

body {
  font-family: "Single Day", cursive;
}

button,
button :focus {
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: var(--padding);
  color: var(--white-color);
}

header .logo {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  font-size: var(--font-max);
}

header .logo i {
  color: var(--red-color);
}

header .menu .fa-search {
  margin-right: var(--margin);
}

/* Video player */

.video {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.video video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 400px;
}

.wide {
  display: flex;
  flex-direction: column;
}

/* info */

.wide > .info {
  padding: var(--padding);
  flex: 1 1 50%;
}

.info .metadata .hashtag {
  display: flex;
  color: var(--blue-color);
  font-size: var(--font-small);
  margin: 0px;
}

.info .metadata .hashtag li {
  margin-right: var(--margin);
}
.info .metadata .title {
  display: flex;
}

.info .metadata .title .content {
  font-size: var(--font-medium);
  margin-right: var(--margin);
}

.info .metadata .title .content.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .title .moreBtn {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.info .metadata .title .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .metadata .timeline {
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

/* Action Buttons */
.info .like {
  display: flex;
  justify-content: space-around;
  margin: var(--margin) 0;
}

.info .like button {
  display: flex;
  flex-direction: column;
  border: none;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .like button i {
  margin: 0 auto;
  margin-bottom: calc(var(--margin) / 2);
  font-size: var(--font-large);
}

.info .like button i.active {
  color: var(--blue-color);
}

.info .name_tag {
  display: flex;
  border: 1px solid var(--grey-light-color);
  border-left: none;
  border-right: none;
  justify-content: space-between;
  align-items: center;
}

.info .name_tag .name_tag_info {
  display: flex;
  align-items: center;
}

.info .name_tag .name_tag_info .profile img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .name_tag .channel_info {
  display: flex;
  flex-direction: column;
}

..info name_tag .channel_info .channel_name {
  font-size: var(--font-medium);
}

.info .name_tag .channel_info .channel_subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .name_tag .subscribe_btn {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
  text-decoration: none;
  border: none;
}

/* up Next*/

.wide .recommend {
  padding: var(--padding);
  flex: 1 1 50%;
}

/*클래스 이름이 똑같은게 여러개일 경우 바로 밑에꺼만 인식 할떄'>'사용 */
.recommend > .recommend_info {
  color: var(--grey-dark-color);
  font-size: var(--font-medium);
}

.recommend .another {
  display: flex;
  margin-top: var(--margin);
}

.recommend .another_img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.recommend .another_img img {
  width: 100%;
  height: auto;
}

.recommend .another_info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.recommend .another_btn {
  height: 100%;
  flex: 1 1 5%;
}

.anonther_info_sub2 {
  color: var(--grey-dark-color);
}

@media screen and (min-width: 768px) {
  .wide {
    flex-direction: row;
    margin: var(--margin) 0;
  }
}
